@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.my-link {
  text-decoration: none;
  color: #fff;
  margin-right: 1.5rem;
}
.my-link2 {
  text-decoration: none;
  color: black;
  margin-right: 1.5rem;
}

.logo {
  height: 60px;
}

.f-icon {
  color: #fff !important;
  font-size: 1.8rem !important;
  margin: 0 0.5rem;
}

.my-footer {
  margin-top: auto;
}

@media (max-width: 600px) {
  .MuiImageList-root {
    border: 1px solid red !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
